@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  font-family: 'Poppins', sans-serif;
}

.cover-container {
  max-width: 42em;
}

.index-title{
  font-size: 7em;
}

.index-text{
  font-family: 'Satisfy', cursive;
  font-size: 1.5em;
}

.nav-item{
  font-size: 1.1em;
}

.navbar-brand{
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 400;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  height: 45rem;
}

.carousel-item > img {
  object-fit: cover;
  min-width: 100%;
  height: 45rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.nosotros{
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin-left: 2rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.quienes-somos {
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: 300;
}

.nosotros-description{
  font-size: 1.3rem;
  font-weight: 200;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.menu{
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin-left: 2rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.menu-title {
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: 300;
}

.menu-description {
  font-size: 1.3rem;
  font-weight: 200;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.menu-ingredients {
  margin-left: 15px;
  font-size: 1.2;
  font-weight: 300;
}

li {
  margin-top: 15px;
  font-size: 1.3rem;
  font-weight: 300;
}

.contactanos{
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin-left: 2rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.contacto-description{
  font-size: 1.3rem;
  font-weight: 200;
  margin-left: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

label{
  margin-top: 5px;
  font-size: 1.1rem;
  font-weight: 300;
}

.btn {
  font-size: 1.1rem;
}

.row {
  padding: 1rem;
}

.espaciado-iconos {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sucursales{
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin-left: 2rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.sucursal {
  margin-bottom: 4rem;
  margin-left: 0.5rem;
  font-size: 2rem;
  font-weight: 300;
}

.espacio-items{
  padding: 0.5rem;
}

.espacio-icons{
  margin-bottom: 0.3rem;
}

#mapa {
  margin-top: 4.5rem;
}
